#all-tags {
	.tag-tile {
		text-decoration: none;
		color: #000;
		.tag-tile__caro-count-wrapper {
			position: relative;
			border: 1px solid $light-grey;
			.tag-tile__carousel {
				z-index: 0;
			}

			.tag-tile__count {
				@include transition(all ease-in-out 0.25s);
				@include opacity(1);
				z-index: 1;
				text-align: center;
				font-weight: lighter;
				font-size: 120px;
				position: absolute;
				color: #fff;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				line-height: 160px;
				background-color: rgba(50,50,50,0.9);
                @include mobile {
                    line-height: 2;
                }
				.mini {
					font-size: 14px;
				}

				.own-line {
					display: block;
					line-height: 1;
					font-size: 32px;
					position: absolute;
					bottom: 30px;
					width: 100%;
					font-weight: bold;
				}
			}
		}
		.tag-tile__texts {
			@include transition(all ease-in-out 0.25s);
			margin: 20px 0;
			font-size: 20px;
			font-weight: bold;
			span {
				font-weight: lighter;
				margin-left: 0.25em;
				font-size: 16px;
				color: $grey;
			}
		}

		&:hover {
			.tag-tile__count {
				@include opacity(0);
			}

			.tag-tile__texts {
				color: $red;
			}
		}
	}
}
