#category-tiles {
    .columns {
        .column {
            &.is {
                &-half-screen-height {
                    height: calc(50vh - 40px);
                }

                &-full-screen-height {
                    height: calc(100vh - 40px);
                }
            }

            &.has {
                &-background {
                    background-size: cover;
                    background-position: center;
                }
            }
        }

        &.reversed {

        }
    }
}
