@import '../js/components/owl.carousel/dist/assets/owl.carousel.min.css';
.owl-carousel {
	.owl-carousel-item {
		display: block;
		img {
			display: block;
		}
	}
}

.owl-nav {
	position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
	width: 100%;
	left: 0;
}

.owl-dots {
	position: absolute;
	bottom: 1em;
	width: 100%;
	text-align: center;
	.owl-dot {
		display: inline-block;
		vertical-align: middle;
		margin: 0 5px;
		span {
			display: block;
			border-radius: 50%;
			width: 10px;
			height: 10px;
			background-color: $light-red;
			@include transition(all ease-in-out 0.5s);
		}

		&.active,
		&:hover {
			span {
				width: 15px;
				height: 15px;
				background-color: $red;
			}
		}

	}
}
