.container.checkout {
    padding: 36px 0 48px;
}

#payment-handler-wrapper {
	min-height: 560px;
	border: 1px solid $grey;
	.column {
		position: relative;
		&.amount-col {
			text-align: center;
			overflow: hidden;
			&:before,
			&:after {
				content: ' ';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}

			&:before {
				background-image: url(../images/bg-gold.jpg);
				background-size: cover;
				background-position: bottom center;
				z-index: 0;
				@include filter(blur(10px));
			}

			&:after {
				position: absolute;
				z-index: 1;
				background-color: rgba(0,0,0,0.7);
			}

			.amount {
				color: $white;
				z-index: 2;
				font-size: 48px;
				font-weight: lighter;
				span {
					margin-bottom: 16px;
					display: block;
					font-size: 14px;
					color: rgba(255,255,255,0.6);
				}
				width: 100%;
                position: absolute;
                left: 0;
                top: 50%;
                @include transform(translateY(-50%));
				margin-top: -42px;
			}
		}

		&.payment-detail-col {
			padding: 60px 2em 2em;
            background-color: white;
			h2 {
				font-size: 32px;
				left: 0;
				line-height: 60px;
				margin: 0;
			}

			#PaymentForm_PaymentForm_PaymentMethod {

				padding: 0;
				margin: 0;
			}

			#PaymentForm_PaymentForm {
				width: 100%;
				#PaymentMethod {
					label.left {
						display: none;
					}
				}

				#payment-details {
					padding-top: 2em;
					h3 {
						margin-top: 0;
					}
					p{
						font-size: 14px;
					}
					.payment-method__item {
						position: relative;
						margin-bottom: 1.5em;
						input[type="text"] {
							display: block;
							width: 100%;
							height: 55px;
							padding: 0.25em 0.5em;
							padding-right: 72px;
							font-size: 32px;
							border-radius: 0;
							border: 1px solid #999;
							font-weight: normal;
						}
						.btn-copy {
							height: 55px;
							border: none;
							border-radius: 0;
							background-color: #333;
							color: #fff;
							outline: none;
							position: absolute;
							right: 0;
							top: 0;
							padding: 0 20px;
							line-height: 54px;
							@include transition(all ease-in-out 0.25s);
							&:active,
							&.copied,
							&:hover {
								background-color: $red;
							}
						}
					}

					.yo-gold {
						text-align: center;
						.yo-gold__balance {
							color: $grey;
							font-size: 14px;
							span {
								color: $black;
								margin-right: 0.5rem;
								font-weight: lighter;
								font-size: 80px;
							}
						}

						.yo-gold__message {
							font-size: 14px;
						}
					}
				}

				.actions {
					margin-top: 2em;
					padding-top: 2em;
					border-top: 1px solid $light-grey;
					text-align: center;
					.action {
						@include transition(background-color ease-in-out 0.25s);
						font-weight: lighter;
						color: $white !important;
						min-width: 300px;
						background-color: $red !important;
						// &[disabled] {
						// 	background-color: $light-grey !important;
						// }
                        font-size: 1.5rem;
                        padding: 0.25em 2em;
					}
				}
			}
		}

		.stay-bottom {
			z-index: 3;
			bottom: 0;
			width: 100%;
			position: absolute;
			left: 0;
			a {
				border-radius: 0;
                border: none;
				border-top: 1px solid rgba(255,255,255,0.2);
				color: $white;
				text-decoration: none;
				display: block;
				background-color: rgba(white, 0);
				font-size: 16px;
				padding: 0.7em 2em;
				height: 57px;
				font-weight: lighter;
				line-height: 32px;
				color: rgba(255,255,255,0.6);
                @include transition(all 0.3s);
                &:hover {
                    background-color: rgba(white, 0.1);
                }
			}
		}

	}
}
