.product {

    &s {

    }



    &-options {
        margin-bottom: 2em;
        &.navbar {
            min-height: 0;
            height: 40px;
        }

        .navbar {
            &-menu {
                .view-mode {
                    border-radius: 0;
                    background-color: black;
                    border: none;
                    .fa {
                        color: white;
                    }
                    width: 40px;
                    &:hover,
                    &:active,
                    &:focus,
                    &.is-active {
                        background-color: $red;
                    }
                }
            }

            &-center {
                font-size: 0;
                .select {
                    height: 40px;
                    font-size: 16px;
                    width: 140px;
                    select {
                        display: block;
                        width: 100%;
                        padding-left: 20px;
                        border-radius: 0;
                        height: 100%;
                    }
                }

                .button {
                    border-left: none;
                    height: 40px;
                    border-radius: 0;
                    width: 40px;
                    padding: 5px 10px;
                    .fa {
                        font-size: 14px;
                    }
                }
            }

            &-end {
                .icon {
                    font-size: 14px;
                    .fa {
                        margin-right: 0.25em;
                        font-size: 16px;
                        margin-top: 2px;
                    }
                }
            }
        }
    }

    &-tile {
        margin-bottom: 50px;
        display: block;

        &__title,
        &__price {
            font-size: 18px;
        }

        &__title {
            margin: 24px 0 12px;
        }


        &__poster {
            position: relative;
            padding: 30px;
            border: 1px solid $light-grey;
            &:after {
                position: absolute;
                content: '';
                display: block;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba(236, 173, 44, 0);
                @include transition(all 0.3s);
            }
        }

        &:hover {
            .product-tile__poster {
                &:after {
                    background-color: rgba(236, 173, 44, 0.4);
                }
            }

            .product-tile__quick-actions {
                .btn-quick {
                    @include transform(translateX(0));
                }
            }
        }

        &.owl-item-core {
            width: 214px;
        }

        &__quick-actions {
            top: 65px;
            right: 1px;
            width: 60px;
            overflow: hidden;
            padding-right: 10px;
            .btn-quick {
                @include transform(translateX(200%));
                border: none;
                outline: none;
                border-radius: 0;
                box-shadow: none;
                margin-bottom: 10px;
                padding: 0;
                width: 50px;
                height: 50px;
                background-color: white;
                line-height: 50px;
                color: black;
                @include transition(all ease-in 0.3s);
                &.is-active,
                &:hover {
                    background-color: red;
                    color: white;
                }

                .fa {
                    font-size: 18px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                @for $i from 1 through 4 {
                    &:nth-child(#{$i}) {
                        @include transition-delay( #{($i - 1) * 0.05}s );
                    }
                }
            }
        }
    }

    &-details {

    }

    &-form {

        form {
            margin-bottom: 30px;

            label {
                margin-bottom: 0;
            }

            .field-quantity {
                .text {
                    width: 100%;
                    max-width: 80px;
                    height: 50px;
                    outline: none;
                    text-align: center;
                    border-radius: 0;
                    border: 1px solid #dadada;
                    box-shadow: none;
                }
            }

            .action {
                height: 50px;
                border-radius: 0;
                @include transition(all 0.25s);
                &.button {
                    border: none;
                    background-color: $red;
                    color: white;
                    font-size: 21px;
                    padding-left: 48px;
                    padding-right: 48px;
                    &:focus,
                    &:hover {
                        opacity: 0.8;
                    }
                    margin-right: 10px;
                }

                &.fav {
                    @extend .fa;
                    @extend .fa-heart;
                    overflow: hidden;
                    &:before {
                        display: block;
                    }
                    cursor: pointer;
                    border: 1px solid #dadada;
                    width: 50px;
                    background-color: rgba($red, 0);
                    &.is-fav,
                    &:hover {
                        border-color: $red;
                        background-color: rgba($red, 1);
                        color: white;
                    }
                }
            }
        }

        &__content {
            margin-bottom: 30px;
            padding-bottom: 41px;
            border-bottom: 1px solid #dedede;
            line-height: 1.6;
            color: $text-grey;
        }

        &__social {
            border-top: 1px solid #dedede;
            border-bottom: 1px solid #dedede;
            padding: 30px 0 20px;
            margin-bottom: 23px;

            .label,
            .addthis_inline_share_toolbox {
                display: inline-block;
                vertical-align: middle
            }

            .label {
                line-height: 30px;
                margin-right: 43px;
                font-size: 16px;
                color: #545454;
                font-weight: bold;
            }

            .addthis_inline_share_toolbox {
                .at-share-btn-elements {
                    font-size: 0;
                    .at-share-btn {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    &-filters {
        @import 'elements/product-filter';
    }
}

.product-carousel-section {
    .product {
        &-tile {
            margin-bottom: 0;
        }
    }
}
