assets/*
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
.svn
.tgz

themes/*/.sass-cache
themes/*/build/components
themes/*/build/lib
themes/*/build/views

vendor
framework
cms


## Silverstripe Modules ##
blog
blogcategories
googlesitemaps
html5
seo
taxonomy
gridfieldextensions
sortablegridfield
gridfield-addons
gridfield-gallery-theme
staticpublisher
silverstripe-dataobjectpreview
silverstripe-optimisedimage
silverstripe-socialextensions
silverstripegmapsobject
userforms
gridfieldpaginatorwithshowall
sortablegridfield
widgets
lumberjack
silverstripe-versioneddataobjects
versioned-gridfield
silverstripe-cropperfield
Users
cropperfield
reports
siteconfig
quickaddnew
tagfield
youtubefield
display_logic
linkable
rightsidebar
editlock
var/
themes/default/node_modules/
.htaccess
silverstripe-menumanager
secureassets/
silverstripe-block/
silverstripe-standard-permissions/
image-orientation-fixer/
composer.lock
maintenance-mode
salted-library/
silverstripe.log
assets
dump.sql
index.php
salted-cropper/
silverstripe-js-manager/
silverstripe-rest-api/
translatable/
themes/default/build/
themes/default/js/components/
salted-payment/
