.sales {
    padding-bottom: 0;
    header {
        padding-bottom: 2rem;
        border-bottom: 1px solid $grey-lighter;
        .column {
            padding-top: 0;
            padding-bottom: 0;

            input.text {
                padding-left: 32px;
                color: $grey-light;
                &:focus {
                    border-color: $blue;
                    color: $blue;
                    + span.icon {
                        color: $blue;
                    }
                }

                @include placeholder {
                    color: $grey-lighter;
                }
            }

            label {
                font-size: 14px;
                font-weight: normal;
                cursor: pointer;
                input[type="checkbox"] {
                    display: none;
                    &:not(:checked) + span {
                        color: $grey-light !important;
                    }
                }
            }

            &.date-picker-holder {
                input.text {
                    width: 130px;
                    display: block;
                }
            }

            &.is-relative {
                .icon {
                    left: 12px;
                    top: 50%;
                    font-size: 12px;
                    color: $grey-light;
                    &.left-more {
                        left: 24px;
                    }

                    .fa {
                        font-size: 14px;
                    }
                    @include transform(translateY(-50%));
                }
            }
        }
    }

    .sales-record {
        &s {
            height: calc(100vh - 246px);
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            &.filtering {
                .sales-record:not(.is-target) {
                    display: none;
                }
            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid $grey-lighter;
        }

        padding-bottom: 0.5rem;
        padding-top: 0.5rem;

        .payment-method {
            margin-right: 0.5em;
        }
    }

    &-search {
        &-filter {
            label {
                margin-bottom: 0;
                margin-right: 1em;
            }
        }
    }

    &-pagination {
        padding: 12px 0;
    }
}
