.sales {
    header {
        padding-bottom: 2rem;
        border-bottom: 1px solid $grey-lighter;
        .column {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &-tools {
        .is-absolute {
            left: 0;
        }
    }

    .sales-record {
        &s {
            height: 76vh;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $grey-lighter;
        }
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;

        .payment-method {
            margin-right: 0.5em;
        }
    }
}
