.products {
    padding-bottom: 0;
    header {
        padding-bottom: 2rem;
        border-bottom: 1px solid $grey-lighter;
        .icon {
            font-size: 14px;
        }

        .product-tools {
            font-size: 14px;
        }

        .column {
            padding-top: 0;
            padding-bottom: 0;
            input.text {
                padding-left: 28px;
                color: $grey-light;
                &:focus {
                    border-color: $blue;
                    color: $blue;
                    + span.icon {
                        color: $blue;
                    }
                }

                @include placeholder {
                    color: $grey-lighter;
                }
            }
        }

        .is-relative {
            .icon {
                left: 24px;
                top: 50%;
                font-size: 12px;
                color: $grey-light;
                @include transform(translateY(-50%));
            }
        }
    }

    .product-row {
        @include user-select(none);
        &s {
            &.editing {
                .product-row {
                    display: none;
                }

                .product-list {
                    height: calc(100vh - 250px);
                }
            }

            &.filtering {
                .product-row:not(.is-target) {
                    display: none;
                }
            }
        }

        font-size: 14px;

        &__last-update {
            color: $grey-light;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $grey-lighter;
        }

        // &.headers {
        //     position: fixed;
        //     width: calc(100% - 288px);
        // }
    }

    .product-list {
        height: calc(100vh - 295px);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        .product-row {
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
            @include transition(all ease-out 1s);
            .column {
                @include transition(all ease-out 1s);
                opacity: 1;
            }
            &.updated {
                background-color: white;
                @include transition-duration(0s);
                .column {
                    @include transition-duration(0s);
                    opacity: 0;
                }
            }
        }

        &.filtering {
            .product-row:not(.is-target) {
                display: none;
            }
        }
    }

    .product-pagination {
        padding: 12px 0;
        p {
            height: 35px;
            line-height: 35px;
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }

    .form-product {
        @include user-select(none);
        padding: 24px 12px;
    }
}
