.ranking {
    header {
        .sales-tools {
            .sales-search-filter {
                span.button {
                    padding: 0;
                    border: none;
                    width: 20px;
                    line-height: 1;
                    height: 20px;
                    background-color: transparent;
                }
            }
        }
    }
}
