// /**
//  * @file styles.scss
//  *
//  * Main stylesheet.
//  * */
@import 'compass';

@import "font-awesome-compass";
@import "font-awesome";

@import 'config/colours',
        'config/typography';

@import "bulma/bulma";

@import 'config/colour-implementations',
        'config/ss-shim',
        'config/variables',
        'config/sprite';

@include retina-sprite-add(spritesheet, 'sprites/*.png', 'retina_sprites/*.png');

@import 'blocks/header',
        'blocks/main',
        'blocks/owlcarousel',
        'blocks/category-tiles',
        'blocks/upcoming-groupon',
        'blocks/latest-update',
        'blocks/top-up',
        'blocks/lightbox',
        'blocks/blog-list',
        'blocks/cart',
        'blocks/datetime-picker',
        'blocks/all-freights',
        'blocks/page-hero',
        'blocks/product-list',
        'blocks/product-details',
        'blocks/page-closure',
        'blocks/payment',
        'blocks/member-area',
        'blocks/footer';

body {
    color: $text-grey;
    padding-top: 80px;
    font-size: 16px;
    .max-width-580 {
        width: 100%;
        max-width: 580px;
        padding: 0 24px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-intro {
        font-size: 20px;
        margin-bottom: 2em;
    }
}
