$white: #fff;
$black: #000;
// $black-bis	hsl(0, 0%, 7%)
// $black-ter	hsl(0, 0%, 14%)
$grey-darker    :   #22272A;
$grey-dark      :   #31383E;
// $grey	hsl(0, 0%, 48%)
// $grey-light	hsl(0, 0%, 71%)
// $grey-lighter	hsl(0, 0%, 86%)
$white-ter      :   #F0F0F2;
// $white-bis	hsl(0, 0%, 98%)
// $white	hsl(0, 0%, 100%)
// $orange	hsl(14, 100%, 53%)
// $yellow	hsl(48, 100%, 67%)
// $green	hsl(141, 71%, 48%)
// $turquoise	hsl(171, 100%, 41%)
$blue           :   #0093E1;
// $purple	hsl(271, 100%, 71%)
$red: #ed1c24;
$light-red: #E2A4A7;
$grey: #9B9D9C;
$light-grey: #efefef;
$dark-grey: #323433;
$light-yellow: #F1D9B3;
$text-grey: #545454;
$subtitle-grey: #010101;
